body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.loading-dots {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display: none; /* Hidden by default */
}

.loading-dots span {
    animation: blink 1.5s infinite;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


.main{
    padding: 30px;
    margin: 0 auto;
}

#main_header{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: #333 solid 1px; 
}

.footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#Ftimer{
    font-size: 25px;
    top: 20px;
    left: 95%;
    position: sticky;
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #333 solid 1px;
}

#Ftimer #timer ~ #max_time{
    color: grey;
    background-color: #fff;
}

.question{
    background-color: #e0e0e043;
    padding: 10px;
    width: 90%; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}

    
.question #question_header{
    background-color: #ffffff6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #333 solid 1px;
    padding: 10px;
    border-radius: 5px;
}

.question #question_content{
    padding: 10px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: #333 solid 1px;
}

#question_grade{
    font-size: small;
    color: grey;
}

.submit_button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#result_container{
    display: none;
    background-color: #ffffff25;
    padding: 10px;
    border-top: #ffff solid 1px;
    text-align: center;
    color: #fff;
}

#result_content{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#generator{
    background-color: #fff;
    padding: 30px;
    margin: 0 auto;    
}

#generator h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#start_button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.generator_content{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: #333 solid 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.generator_content #number_of_questions{
    margin-bottom: 10px;
    border-radius: 5px;
    border: #333 solid 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 40px;
}
.generator_content select{
    margin-bottom: 10px;
    border-radius: 5px;
    border: #333 solid 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
}

#retry{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#retry_button{
    background-color: #e0e0e043;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#quiz{
    display: none;
    background-color: #fff;
}